*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Hind', sans-serif;
}

.scroll-hide {overflow: hidden; }
html {scroll-behavior: smooth;}


.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


h1, h2, h3, h4, p{
    text-transform: uppercase;
}

a{
    text-decoration: none;
}

/*buttons*/

.bth-head-book{
    border: 1px solid #242017;
    width: 244px;
    padding: 18px 20px;
    text-align: center;
    color: #242017;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1.2px;
    align-items:center;
    line-height: 18px;
}


.bth-head-call{
    background-color: #D41850;
    width: 244px;
    padding: 18px 20px;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    align-items: center;
    font-weight: 600;
    letter-spacing: 1.2px;
    line-height: 18px;
}

.btn-issues{
    border: 1px solid #242017;
    width: 260px;
    padding: 18px 20px;
    text-align: center;
    align-items: center;
    color: #242017;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1.2px;
    line-height: 18px;
}

.btn-contact{
    width: 100%;
    background-color: #D41850;
    padding: 15px 30px;
    text-align: center;
    width: 250px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.2px;
    align-items: center;
    line-height: 18px;
}


.bth-head-menu{
    background-color: #D41850;
    width: 244px;
    padding: 18px 20px;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    align-items: center;
    font-weight: 600;
    letter-spacing: 1.2px;
    line-height: 18px;
}

.stick-block-phone{
    width: 100%;
    background-color: #f1f1f1;
    padding: 20px;
    position: fixed;
    bottom: 0;
    z-index: 777;
    display: none;
}

.btn-stick-phone{
    background-color: #D41850;
    width: 100%;
    padding: 18px 50px;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    align-items: center;
    font-weight: 600;
    letter-spacing: 1.2px;

}



/*navigation*/

.burger{
    display: none;
}

.bar{
    display: block;
    width: 1.5rem;
    color: #676767;
    height: 3px;
    margin:6px;
    background-color: #676767;
    -webkit-transition: 0.5s;
}

.bar:nth-child(1){
    width: 100%;
}
.bar:nth-child(2){
    width: 200%;
}
.bar:nth-child(3){
    width: 300%;
}

.nav-menu li{
    list-style: none;
}

.nav-menu li a {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1.5px;
    color: #a8a8a8;
    text-decoration: none;
    text-transform: uppercase;

}

.nav-menu {
    display: flex;
    gap: 30px;
    align-items: center;

}

.btn-head{
    display: flex;
    gap: 15px;
}

.bth-head-call{
    background-color: #D41850;
    width: 277px;
    padding: 18px 20px;
    text-align: center;
}
.nav-menu a{
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1.2px;


}


.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

}

.header-nav-container{
    width: 100%;
    background-color: #242017;
    top: -150px;
    transition: top 1s;
    z-index: 9999;

}
.header-nav-container.fixed{
    position: fixed;
    width: 100%;
    background-color: #242017;
    top: 0;

}






.footer{
    display: none;
}

/*slider*/

.slider{

    max-width: 100%;
    background: url('../image/header-background.jpg') no-repeat center top / cover;
}

.tittle h1 {
    color: #FFFFFF;
    font-size: 61px;
    font-weight: 300;
    line-height: 66px;
    text-align: center;
    letter-spacing: 3px;
    margin: 0;
    padding-bottom: 40px;
}

.tittle span{
    text-transform: uppercase;
    font-size: 25px;
    line-height: 37px;
    font-weight: 500;
    color: #FFFFFF;
    letter-spacing: 2px;
}

.tittle{
    text-align: center;
    padding: 180px 0;
}


/*About us*/

#block{
    opacity: 0;
    transform: translateY(20px);
}
#block.element-show{
    opacity: 1;
    transition: all 0.4s;
    transform: translateY(0%);
}

#block-item{
    opacity: 0;
    transform: translateY(20px);

}
#block-item.element-show{
    opacity: 1;
    transition: all 1s;
    transform: translateY(0%);
}



.block-about{
    display: flex;
    gap: 80px;
    padding: 110px 0;
}

h2{
    color: #2D2D2D;
    font-size: 39px;
    line-height: 48px;
    letter-spacing: 1.4px;
    font-weight: 400;
}

.pic-about{
    width: 100%;
}
.pic-about img{
    width: 512px;
}


.text-descr{
    padding-top: 40px;
}

p{
    font-size: 13px;
    line-height: 28px;
    font-weight: 400;
    color: #4F565E;
    letter-spacing: 1.2px;
}



.btns{
    display: flex;
    gap: 15px;
    padding-top: 50px;
}


/*Why us*/


.why-us{
    background: #242017;
    padding: 45px 0 35px;
}

.prev span{
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.5px;
    color: #BDBDBD;
    text-transform: uppercase;
}

.previlegy{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    max-inline-size: 1200px;
    margin-inline: auto;
    width: 100%;
}

.prev{
    display: flex;
    box-sizing: border-box;
    align-items: start;
    justify-content: center;
    width: 277px;
    gap: 20px;


}

.prev p{
    color:#A4A4A4;
    font-weight: 300;
    letter-spacing: 1.3px;
    margin-top: 12px;
}


/*Appliance services*/

.services-appliance{
    padding: 110px 0;
}

.title-services{
    text-align: center;
}

.item{
    background: url('../image/Refrigerator.png') no-repeat center top / cover;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 277px;
    text-align: center;
    height: 277px;
}


.block-items :nth-child(2){
    background: url('../image/Range.png') no-repeat center top / cover;
    
}
.block-items :nth-child(3){
    background: url('../image/Cooler.png') no-repeat center top / cover;
    
}
.block-items :nth-child(4){
    background: url('../image/Dishwasher.png') no-repeat center top / cover;
    
}
.block-items :nth-child(5){
    background: url('../image/Washer.png') no-repeat center top / cover;
    
}
.block-items :nth-child(6){
    background: url('../image/coock top.png') no-repeat center top / cover;
    
}
.block-items :nth-child(7){
    background: url('../image/Dryer.png') no-repeat center top / cover;
    
}
.block-items :nth-child(8){
    background: url('../image/Oven.png') no-repeat center top / cover;
    
}


.item span{
    font-size: 13px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 1.2px;
    text-align: center;
    text-transform: uppercase;
    color: #2D2D2D;
    text-decoration: none;
    background-color: #ffffff;
    padding: 25px;

}

.block-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-inline-size: 1200px;
    margin-inline: auto;
    padding-top: 45px;
}

.btns-appliance{
    display: flex;
    gap: 15px;
    justify-content: center;
    padding-top: 60px;
}


/*how-it-works*/

.how-it-works{
    background: #F8F8F8;
    padding: 110px 0;
}

.title-works{
    text-align: center;
    padding-bottom: 50px;

}

.steps{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 110px;
    max-inline-size: 1200px;
    margin-inline: auto;
}

.steps-descr{
    width: 250px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.steps-descr .text{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.steps-descr span{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.4px;
    color: #4F565E;
    padding-bottom: 10px;
}

.steps-descr img{
    padding-bottom: 25px;
}


/*depend*/


.pic-dep{
    display: none;
}

.block-depend{
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(auto-fill, minmax(650px, 2fr));
}

.pic-banner{
    width: 100%;
    height: 600px;
    background: url('../image/banner.jpg') no-repeat center top / cover;
}



.text-depend{
    background: #F2E7DC;
    width: 100%;
    padding: 144px 75px;
}

.text-depend span{
    font-size: 35px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: 2px;
    color: #2D2D2D;
    text-transform: uppercase;
    
}


.btns-promo{
    display: flex;
    gap: 15px;
    padding-top: 50px;
}


/*Brands*/

.brands{
    padding: 110px 0;
}

.pict{
    max-width: 100%;
    height: 500px;
    background: url('../image/brand-pic.jpg') no-repeat center top / cover;

}

.title-brands{
    text-align: center;
    padding-bottom: 50px;
}

.block-brand p{
    padding-top: 45px;
}

ol{
    list-style: none;
}
li{
    list-style: none;
}

.brans-col a{
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2D2D2D;
}


.brans-col li{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 25px;
}

.brands-name {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    padding: 60px;
    margin-top: 45px;
    border: 2px dashed #CBCBCB;
}


/*Statistics*/

.statistics{
    padding: 110px 0;
}

.title-statistics{
    text-align: center;
}

.information{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 250px;

}

.info-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    max-inline-size: 1200px;
    margin-inline: auto;
    padding-top: 60px;
}

.out{
    font-size: 61px;
    font-weight: 300;
    color: #D41850;
    letter-spacing: 2px;
    line-height: 40px;
    opacity: 0;
}
.viz{
    opacity: 1;
    transition: 1s;
}

.information span:nth-child(2){
    font-size: 13px;
    font-weight: 700;
    line-height: 24px;
    color: #2D2D2D;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-top: 15px;
    text-align: center;
}

/*Save*/
.block-promo-save{

    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(auto-fill, minmax(650px, 2fr));
}


.pic-save{
    width: 100%;
    height: 600px;
    background: url('../image/promo-banner.jpg') no-repeat center top / cover;
}



.text-save{
    background: #F2E7DC;
    width: 100%;
    padding: 100px 90px;
    align-items: center;
    justify-content: flex-end;
    display: flex;
}

.save-container span{
    font-size: 35px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: 2px;
    color: #2D2D2D;
    text-transform: uppercase;
    
}

.save-container ol{
    font-size: 13px;
    font-weight: 700;
    color: #4F565E;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    line-height: 30px;
    margin-top: 30px;
}


.btns-promo{
    display: flex;
    gap: 15px;
    padding-top: 50px;
}


/*testimonials*/

.testimonials{
    padding: 110px 0;
}

.title-testimonials{
    text-align: center;
}

.bl-reviews{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-inline-size: 1200px;
    margin-inline: auto;
    padding-top: 55px;

}

.rev{
    background-color: #F8F8F8;
    padding: 45px;  
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    width: 570px;
}

.cust-info{
    display: flex;
    gap: 20px;
    align-items: center;
}

.cust-info li{
    color: #2D2D2D;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-weight: 700;
}

.cust-info ol{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.rev p{
    margin-top: 15px;
}

/*popular problem*/

.problem{
    padding: 120px 0;
    background: #F8F8F8;
}

.block-problems{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-inline-size: 1200px;
    margin-inline: auto;

}

.issues{
    padding: 50px;
    background: #FFFFFF;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    max-width: 570px;
}

.issues h2{
    margin-bottom: 30px;
}

.par span{
    font-size: 13px;
    color: #2D2D2D;
    font-weight: 700;
    line-height: 1.2px;
    text-transform: uppercase;
}
.par p{
    margin-top: 10px;
} 

.descr-issues {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.descr-issues a{
    color: #D41850;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1.3px;
    text-transform: uppercase;
}

.par li{
    font-size: 13px;
    font-weight: 700;
    color: #2D2D2D;
    letter-spacing: 1.3px;
    text-transform: uppercase;
}

.par ol{
    display: flex;
    gap: 17px;
    flex-direction: column;
}


.bl-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}


/*News*/

.news{
    padding: 110px 0;
}

.title-news{
    text-align: center;
}

.block-news{
    padding-top: 45px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(277px, 1fr));
}


.article{
    flex-direction: column;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-items: end;
    justify-content: center;
    width: 100%;


}

.pic img{
    width: 100%;
}

.article a{
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.3px;
    color: #2D2D2D;
}

.news-descr{
    margin-top: 20px;
}

.article p{
    margin-top: 10px;
}

/*footer*/

.footer{
    display: block;
    background: #242017;
    padding: 90px 0;
}


h3{
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    letter-spacing: 1.3px;

}

.ftr-content{
    display: flex;
    justify-content: space-between;
    gap: 70px;
    max-inline-size: 1200px;
    margin-inline: auto;

}


.ftr-block-link a{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1.2px;
    color: #929292;
    line-height: 34px;

}

.ftr-block-link a:hover{
    color: #d4d4d4;
}

.form{
    width: 100%;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form input{
    width: 100%;
    padding: 16px 22px;
    font-weight: 400;
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    color: #A7A7A7;
    border: none;
    outline: none;
}
.form textarea{
    padding: 16px 22px;
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    color: #A7A7A7;
    border: none;
    outline: none;
    width: 100%;
}


.block-inputs{
    display: flex;
    gap: 16px;
}

.block-nav{
    margin-top: 25px;
}

.content-links{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.ftr-block{
    width: 585px;
}


.ftr-menu ul {
    display: flex;
    gap: 30px;
    justify-content: center;
}
.ftr-menu ul li {
    font-size: 13px;
    text-transform: uppercase;
    color: #818181;
    letter-spacing: 1.3px;

}
.bth-ftr-call{
    width: 100%;
    background-color: #D41850;
    padding: 19px 30px;
    text-align: center;
    width: 250px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.2px;
    align-items: center;

}
.bth-ftr-book{
    border: 1px solid #8d8d8c;
    width: 244px;
    padding: 18px 20px;
    text-align: center;
    color: #8d8d8c;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1.2px;
    align-items:center;

}
.btns-ftr{
    padding-top: 35px;
    display: flex;
    gap: 15px;
    justify-content: center;
}

.ftr-menu{
    display: none;
}


.copyright{
    margin-top: 40px;
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #818181;
    text-transform: uppercase;
}






/*Problem*/

.problem-page{
    max-inline-size: 1200px;
    margin-inline: auto;
    padding: 50px 0;
}

.general-block{
    margin: 0 auto;
    background-color: #fff;
    display: flex;
    gap: 20px;

}

.descr-row{

    display: flex;
    flex-flow: row wrap;
    margin-bottom: 10px;
    width: 66.66%;
}
.gener-descr h2{
    margin: 50px 0 30px;
    
}

.pic-refr{
    width: 100%;
    height: 400px;
    background: url('../image/refr-pr.jpg') no-repeat center top / cover;
}

.descr-row h3{
    color: #2D2D2D;
    font-weight: 600;
    font-size: 20px;
    margin-top: 50px;
}

.descr-pr span{
    font-weight: 800;
    text-transform: uppercase;
    font-size: 14px;
}

.descr-pr p{
    margin-top: 10px;
}

.descr-pr{
    background-color: #f8f8f8;
    padding: 30px;
    margin-top: 10px;
}

.block-br{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-inline-size: 1200px;
    margin-inline: auto;
    margin-top: 15px;
}
.brand-item{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 145px;
    text-align: center;
    background-color: #242017;
    padding: 12px;
}


.brand-item a{
    font-weight: 800;
    text-transform: uppercase;
    font-size: 14px;
    color: #ffffff;

}
.brand-item:hover{
    cursor: pointer;
    background-color: #D41850;
}

.sitebar-row{
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 10px;
    width: 33.33%;
}

.category span{
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #2D2D2D;
}
.category{
    padding: 35px;
    background-color: #f9f4f0;
    width: 100%;
}
.category a{
    text-transform: uppercase;
    font-size: 13px;
    color: #ffffff;
    font-weight: 400;
    letter-spacing: 1.3px;
    line-height: 35px;
    background-color: #2D2D2D;
    padding: 5px 15px;
    width: 100%;
}
.category a:hover{
    background-color: #D41850;
}
.category ul{
    padding-top: 20px;
}

.banner-sitebar{
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 70px;
    background-color: #A4A4A4;
    width: 100%;
    padding: 150px 0;
    margin-top: 20px;
    background: url('../image/Miele+Ranges.jpg') no-repeat center top / cover;
}
.banner-sitebar span{
    color: #FFFFFF;
    font-size: 62px;
    font-weight: 500;
    text-transform: uppercase;
}

.sitebar-info{
    padding: 35px;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #2D2D2D;
    margin-top: 20px;
    background-color: #f9f4f0;
    width: 100%;
}


.btns-sitebar{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.btns-sitebar{
    margin-top: 30px;
}

.bth-head-book {
    width: 277px;
}
.sitebar-info p{
    padding-top: 25px;
}


/*washer*/
.pic-washer{
    width: 100%;
    height: 400px;
    background: url('../image/washer-repair.jpg') no-repeat center top / cover;
}

.descr-pr-washer{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    background-color: #f8f8f8;
    padding: 25px;


}

.col{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex-wrap: wrap;
    width: 100%;
}
.descr-pr-washer span{
    font-weight: 800;
    text-transform: uppercase;
    font-size: 14px;
}
.descr-pr-washer{
    margin-top: 15px;
}

.brand-all-descr h3{
    padding-bottom: 10px;
}

.all-pic-brands{
    width: 100%;
    height: 400px;
    background: url('../image/al-brands-pic.jpg') no-repeat center top / cover;

}

.price-page{
    max-inline-size: 1200px;
    margin-inline: auto;
    padding: 50px 0;
}

.price-itm{
    background-color: #f8f8f8;
    padding: 35px;

}

.price-itm h3{
    font-size: 21px;
    color: #2D2D2D;
    margin-bottom: 15px;
}

.bl-pr span{
    font-weight: 800;
    text-transform: uppercase;
    font-size: 16px;
}
.bl-pr{
    display: flex;
    flex-direction: column;
}


.bl-pr span:nth-child(2){
    margin-top: 10px;
}
.btns-price{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 15px;
}

.price-itm{
    display: flex;
    gap: 50px;
}

.block-price{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 35px;
}

.price-theme{
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    display: flex;
    gap: 50px;
    background: url('../image/price-refr.jpg') no-repeat center top / cover;
}

.price-theme:nth-child(2){
    background: url('../image/price-range.jpg') no-repeat center top / cover;

}
.price-theme:nth-child(3){
    background: url('../image/price-washer.jpg') no-repeat center top / cover;

}
.price-theme:nth-child(4){
    background: url('../image/price-oven.jpg') no-repeat center top / cover;

}
.price-theme:nth-child(5){
    background: url('../image/price-cooktop.jpg') no-repeat center top / cover;
}
.price-theme:nth-child(6){
    background: url('../image/price-winecooler.jpg') no-repeat center top / cover;
}
.price-theme:nth-child(7){
    background: url('../image/price-dishwasher.jpg') no-repeat center top / cover;
}
.price-theme:nth-child(8){
    background: url('../image/price-dryer.jpg') no-repeat center top / cover;
}


.ttl-pr h3{
    font-size: 43px;
    line-height: 50px;
    font-weight: 600;
}

.price-bnr-info{
    background-color: #ffffff;
    padding: 25px;
    display: flex;
    flex-direction: column;
}

.price-bnr-info span{
    font-weight: 800;
    text-transform: uppercase;
    font-size: 16px;

}

.price-bnr-info span:nth-child(2){
    padding-top: 10px;
}









